API_KEY="XXXX-XXXX-XXXX-XXXX"
RATELIMIT=80
#Server port for url
PORT=8080
# If you want to test it its reccomended to use DEV 
#but if you want to launch this then set the Stage value to PROD 
STAGE="DEV"